<header>
	<!-- CONTAINER -->
	<div class="container">
		<div class="header__bl-1">
			<a href="index.html" class="logo-company">
				<img src="img/logo-company.svg" alt="Mico solutions" width="95" height="39">
			</a>
		</div>
		<div class="header__bl-2">
			<nav class="main-nav header__nav">
				<ul>
					<li>
						<a href="javascript:void(0)">Services</a>
					</li>
					<!-- <li>
						<a href="javascript:void(0)">How we work</a>
					</li> -->
					<li>
						<a href="javascript:void(0)">Portfolio</a>
					</li>
					<li>
						<a href="company.html">Company</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__bl-3">
			<a href="javascript:void(0)" class="btn btn-info header__contact-btn">Contact us</a>
		</div>
		<div class="header__bl-4">
			<ul class="contacts-nav header__contacts">
				<li>
					<a href="tel:+442078228535">+44 20 7822 8535</a>
				</li>
				<li>
					Mico Solutions Limited<br>
					4-8 Ludgate Circus London EC4M 7LF</li>
			</ul>
		</div>
		<div class="header__bl-5">
			<div class="toggle-wrapper">
				<button class="toggle-btn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="toggle__content">
					<div class="decor-3"></div>
				</div>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
