<header>
	<!-- CONTAINER -->
	<div class="container">
		<div>
			<a href="index.html" class="logo-company">
				<img src="img/logo-company.svg" width="95" height="39" alt="Mico solutions">
			</a>
		</div>
		<div>
			<nav class="main-nav header__nav">
				<ul>
					<li>
						<a href="javascript:void(0)">Services</a>
					</li>
					<li>
						<a href="javascript:void(0)">How we work</a>
					</li>
					<li>
						<a href="javascript:void(0)">Portfolio</a>
					</li>
					<li>
						<a href="javascript:void(0)">Company</a>
					</li>
				</ul>
			</nav>
		</div>
		<div>
			<a href="javascript:void(0)" class="btn btn-default">Contact us</a>
		</div>
		<div>
			<ul class="contacts-nav header__contacts">
				<li>
					<a href="tel:+442078228535">+44 20 7822 8535</a>
				</li>
				<li>Fleet House 8-12 New Bridge Street<br>
					London, EC4V 6AL</li>
			</ul>
		</div>
	</div><!-- END CONTAINER -->
</header>
