<div class="hel" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">Mico solutions</span>
	<img itemprop="image" src="img/logo-company.svg" alt="Mico solutions">
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">Fleet House 8-12 New Bridge Street</span>
		<span itemprop="addressLocality">London, EC4V 6AL</span>
	</div>
	<span itemprop="telephone">+442078228535</span>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name" content="Mico solutions">
		<meta itemprop="image" content="img/logo-company.svg">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="Fleet House 8-12 New Bridge Street">
			<meta itemprop="addressLocality" content="London, EC4V 6AL">
		</span>
		<meta itemprop="telephone" content="+442078228535">
		<meta itemprop="priceRange" content="£">
	</div>
</div>
