.hel {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
	text-indent: -9999px;
}

.db {
	display: block;
}

.dn {
	display: none;
}

.disabled {
	pointer-events: none;
}

.visible {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

.ovh {
	overflow: hidden;
}

.ovyh {
	overflow-y: hidden;
}

.tac {
	text-align: center;
}

.ttu {
	text-transform: uppercase;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	background-color: rgba($cb, 0.6);
	pointer-events: none;
	@include trs-all;
}

.overlay-visible {
	z-index: 997;
	visibility: visible;
	opacity: 1;
	pointer-events: initial;
}

.scroll-table-content {
	overflow-x: auto;
	margin-bottom: 40px;

	table {
		margin-bottom: 0;
	}
}

.btn {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	font-size: fsz(14, 16);
	line-height: 40px;
	border: 1px solid transparent;
	text-align: center;

	&:hover {
		text-decoration: none;
	}
}

.btn-default {
	background-color: $c1;
	color: $c5;
	border-color: $c5;

	&:hover {
		background-color: $c5;
		color: $c1;
	}
}

.btn-primary {
	background-color: $c3;
	color: $c1;
	border-color: $c3;

	&:hover {
		background-color: $c14;
		border-color: $c14;
	}
}

.btn-style-1 {
	border-radius: 5px;
}

.style-1 {
	margin-bottom: 96px;
}

@media (max-width: 1024px) {
	.style-1 {
		margin-bottom: 66px;
	}
}
