@media (min-width: 1025px) {
	.content {
		display: flex;

		.request {
			height: 100%;
		}

		.content__aside {
			position: relative;
		}

		.request__front,
		.request__back {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.request__content,
		.request__front,
		.request__back {
			height: 100%;
		}
	}

	.content__main {
		flex-grow: 1;
	}

	.content__aside {
		flex: none;
	}

	.content-1,
	.content-4,
	.content-5,
	.content-8 {
		align-items: center;
	}

	.content-2 {
		gap: 40px;

		.services-list-2 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 100%;
			gap: 15px;

			li+li {
				margin-top: 0;
			}
		}
	}

	.content-1__aside {
		width: 605px;
	}

	.content-2__aside {
		width: 235px;
	}

	.content-3,
	.content-7 {
		gap: 50px;
	}

	.content-3__aside {
		width: 495px;
	}

	.content-3__main,
	.content-8__main {
		order: 1;
	}

	.content-4,
	.content-8 {
		gap: 70px;
	}

	.content-4__main,
	.content-3__aside,
	.content-4__aside {
		width: 50%;
	}

	.content-5__aside {
		width: 300px;
	}

	.content-8__aside {
		width: mp(496, 1060);
	}

	.content-7__main {
		flex-grow: 1;

	}

	.content-7__aside {
		width: 400px;
		margin-right: 30px;
		flex: none;
	}

	.content-9__aside {
		width: 450px;
		margin-right: 60px;
		flex: none;
	}

	.content-9 {
		gap: 90px;
	}
}

@media (min-width: 1201px) {
	.content-2 {
		gap: 70px;
	}
}

@media (max-width: 1025px) and (max-width: 1200px) {
	.content-2 {
		gap: mp(70, 1200);
	}
}

@media (max-width: 1024px) {
	.content {
		width: calc(min(576px, 100%));
		margin-left: auto;
		margin-right: auto;
	}

	.content__main+.content__aside {
		margin-top: 40px;
	}
}

.content-6 {
	display: flex;
	gap: 70px mp(70, 760);

	>div {
		flex-grow: 1;
		width: 50%;
	}
}

@media (max-width: 576px) {
	.content-6 {
		flex-direction: column;
		gap: 20px;

		>div {
			width: 100%;
		}
	}
}

/*
============================
	TOP SECTION
============================
*/
.top-section {
	position: relative;
	overflow: hidden;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}

	.content {
		position: relative;
		z-index: 3;
	}

	h1 {
		color: $c1;
	}

	.services-list-1 {
		color: $c1;
	}

	.services-list-2 {
		li {
			background-color: rgba($c3, 0.2);
		}
	}

	.request__front,
	.request__back {
		background-color: transparent;
	}

	.request__front {
		>strong {
			color: $c1;
		}

		.style-check {

			input[type='radio'],
			input[type='checkbox'] {

				&+span,
				&+span {
					border-color: $c1;
					background-color: transparent;
				}
			}

			input[type='radio']:checked+span,
			input[type='checkbox']:checked+span {
				background-color: $c1;
			}
		}

		.form {
			color: $c1;

			input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']),
			select,
			textarea {
				color: $c12;
				border-color: rgba($c1, 0.5);

				&:focus {
					border-color: $c1;
				}

				&.required {
					border-bottom-color: $c15;
				}
			}

			input:not([type='checkbox']):not([type='radio']),
			textarea {
				@include placeholder {
					color: $c12;
				}
			}

			input:not([type='checkbox']):not([type='radio']),
			textarea {
				@include placeholder {
					color: $c12;
				}
			}
		}
	}

	.request__back {
		color: $c1;
		background-color: $c7;

		h4 {
			color: $c1;
		}
	}

	.s_ocial {
		a {
			color: $c1;

			&:hover {
				color: $c3;
			}
		}
	}

	p {
		font-size: fsz(15, 16);
		font-weight: 300;

		&:last-child {
			margin-bottom: 0;
		}

		strong {
			font-weight: 700;
		}

		&+.anchor-list {
			padding-top: 17px;
		}
	}
}

h1+.top-section__add {
	margin-top: 45px;
}

.top-section__add {
	display: flex;
	gap: 35px;
	align-items: center;
}

.top-section-style-1,
.top-section-style-4 {
	color: $c1;

	h1 {
		padding-left: 0;
	}
}


.top-section-style-1 {
	h1 {
		margin-bottom: 15px;
	}
}

@media (min-width: 1025px) {

	.top-section-style-1,
	.top-section-style-4 {
		.content__main {
			padding-left: 35px;
		}

		h1 {
			font-size: fsz(58, 16);
			line-height: 1;
		}
	}

	.top-section-style-1 {
		.content {
			align-items: center;
		}

		.content__aside {
			height: 320px;
		}

		.services__img-1 {
			width: 320px;
			height: 320px;
		}

		.services__img-2 {
			width: 150px;
			height: 150px;
		}

		.services__img-3 {
			bottom: 0;
		}

		.services__img-3,
		.services__img-5 {
			width: 110px;
			height: 110px;
		}

		.services__img-4 {
			left: 200px;
			width: 77px;
			height: 77px;
		}

		.services__img-5 {
			top: 70px;
		}

		.services__img-6 {
			bottom: 15px;
			right: 50px;
			width: 174px;
			height: 174px;
		}
	}

	.top-section-style-2 {
		h1 {
			margin-bottom: 34px;
		}

		.content__aside,
		.content-2__aside {
			height: 100%;
		}
	}
}

@media (min-width: 1201px) {
	.top-section {
		margin-top: -192px;
	}
}

@media (min-width: 1201px) and (max-width: 1366px) {
	.top-section {
		.container {
			padding-top: 150px;
		}
	}
}

@media (min-width: 1231px) {
	.top-section {
		.container {
			padding-left: 70px;
			padding-right: 70px;
		}

		.services-list-1 {
			margin-left: 50px;
		}
	}
}

@media (max-width: 1200px) {
	.top-section {
		margin-top: -110px;
	}
}

@media (max-width:576px) {
	.top-section {
		margin-top: -78px;

		p {
			font-size: fsz(15, 14);
		}
	}

	.request__front {
		>strong {
			padding-left: 15px;
			font-size: fsz(15, 14);
		}
	}

	.top-section-style-1 {
		h1 {
			padding-left: 35px;

			&+ul {
				padding-left: 35px;
			}
		}

		.request {
			padding-left: 35px;
		}
	}

	.top-section-style-3 {
		.container {
			min-height: 100px;
		}

		h1 {
			padding-left: 0;

			&+ul {
				padding-left: 0;
			}
		}

		.request {
			padding-left: 35px;
		}

		.content__aside {
			display: none;
		}
	}
}

@media (max-width: 360px) {
	.top-section__add {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}
}

.services-list {
	margin-bottom: 0;
}

.services-list-1 {
	li {
		position: relative;
		padding-left: 35px;
		font-size: fsz(18, 16);
		line-height: 1.2;

		&+li {
			margin-top: 20px;
		}
	}

	svg {
		position: absolute;
		top: -2px;
		left: 0;
		width: 22px;
		height: 22px;
		fill: $c3;
	}
}

.services-list-2 {
	li {
		padding: 30px 35px 26px 105px;
		color: $c1;
		background-color: $c7;

		&+li {
			margin-top: 14px;
		}
	}

	span,
	strong {
		display: block;
		line-height: 1.2;
	}

	span {
		margin-bottom: 5px;
		font-size: fsz(13, 16);
		color: $c12;
	}

	strong {
		font-size: fsz(20, 16);
		font-weight: 700;
	}

	svg {
		position: absolute;
		top: 30px;
		left: 35px;
		width: 40px;
		height: 40px;
		fill: $c1;

		path {
			fill: $c1;
			stroke: $c1;
		}
	}
}

.services-list-3 {
	margin-bottom: 0;

	li+li {
		margin-top: 15px;
	}

	a {
		position: relative;
		display: inline-block;
		padding-left: 85px;
		font-size: fsz(34, 16);
		font-weight: 800;
		line-height: 1.2;
		color: $c10;

		&:hover {
			text-decoration: none;
			color: $c3;

			span {
				border-color: $c16;

				svg {
					transform: rotate(0deg);
				}
			}
		}
	}

	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 54px;
		height: 40px;
		border: 1px solid transparent;
		border-radius: 30px;
		color: $c3;
		@include trs-all;

		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: rotate(-45deg);
			width: 18px;
			height: 18px;
			margin-top: -9px;
			margin-left: -9px;
			fill: currentColor;
			@include trs-all;
		}
	}
}

@media (min-width: 1025px) {
	.services-style-1 {
		.content-3__main {
			order: -1;
		}

		.content-3__aside {
			min-height: 413px;
		}
	}
}

@media (min-width: 1231px) {
	.services-style-1 {

		h1,
		.breadcrumbs {
			padding-left: 70px;
		}
	}

}

@media (max-width: 1200px) {
	.services-list-3 {
		a {
			font-size: fsz(27, 16);
		}

		span {
			top: -1px;
		}
	}
}

@media (max-width: 1024px) {
	.services-list-3 {
		a {
			font-size: fsz(25, 16);
		}

		span {
			top: -5px;
		}
	}
}

@media (max-width: 576px) {
	.services-list-3 {
		a {
			padding-left: 60px;
			font-size: fsz(21, 14);
		}

		span {
			width: 40px;
			height: 30px;
			top: -4px;

			svg {
				width: 14px;
				height: 14px;
				margin-left: -7px;
				margin-top: -7px;
			}
		}
	}
}

@media (max-width: 415px) {
	.services-list-3 {
		a {
			font-size: fsz(18, 14);
		}
	}
}

@media (max-width: 360px) {
	.services-list-3 {
		a {
			padding-left: 55px;
		}
	}
}

.decor-list {
	position: relative;
	padding-left: 45px;

	li {
		position: relative;
		z-index: 1;
	}

	&:before {
		content: '';
		position: absolute;
		top: 45px;
		left: 0;
		width: 116px;
		height: 84px;
		background: url(../img/bg-2.svg) no-repeat;
		background-size: cover;
	}
}

@media (max-width: 1024px) {
	.decor-list {
		padding-left: 35px;
	}
}

.request {
	perspective: 1000px;

	&.success {
		.request__content {
			transform: rotateY(180deg);
		}
	}
}

.request__content {
	position: relative;
	@include trs-all;
	transform-style: preserve-3d;
}

.request__front,
.request__back {
	padding: 28px 30px 30px 30px;
	background-color: $c1;
	border: 1px solid $c3;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.request__front {
	>strong {
		display: block;
		margin-bottom: 20px;
		font-size: fsz(15, 16);
		font-weight: 700;
		line-height: 1.2;
		color: $c7;
	}
}

.request__back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
	font-size: fsz(14, 16);
	line-height: 1.2;

	h4 {
		text-align: center;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 576px) {
	.services-list-1 {
		li {
			font-size: fsz(16, 14);
		}
	}

	.services-list-2 {
		li {
			padding: 18px 20px 16px 70px;
		}

		span {
			font-size: fsz(13, 14);
		}

		strong {
			font-size: fsz(18, 14);
		}

		svg {
			width: 30px;
			height: 30px;
			top: 20px;
			left: 20px;
		}
	}

	.request__front,
	.request__back {
		padding: 27px 20px 30px 20px;

		h4 {
			margin-bottom: 15px;
		}
	}

	.request__back {
		font-size: 1rem;

		h4 {
			font-size: fsz(16, 14);
		}
	}

	.request__front>strong {
		padding-left: 15px;
	}

	.request-form {
		ul {
			padding-left: 15px;
		}

		.style-check {
			font-size: fsz(16, 14);
		}

		.style-check-1 input[type=radio]+span,
		.style-check-1 input[type=radio]+span,
		.style-check-1 input[type=checkbox]+span,
		.style-check-1 input[type=checkbox]+span {
			top: 7px;
		}
	}
}

@media (max-width: 360px) {
	.services-list-1 {
		li {
			font-size: 1rem;
		}
	}

	.services-list-2 {
		li {
			padding-right: 15px;
			padding-left: 65px;
		}

		span {
			font-size: fsz(12, 14);
		}

		strong {
			font-size: fsz(16, 14);
		}

		svg {
			top: 15px;
			left: 15px;
		}
	}

	.request__front,
	.request__back {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*
============================
	OUR ADVANTAGES
============================
*/
.our-advantages__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	margin-bottom: 0;

	li {
		padding: 30px 35px 32px 35px;
		background-color: $c7;
	}

	strong,
	p {
		line-height: 1.2;
		color: $c1;
	}

	strong {
		display: block;
		margin-bottom: 20px;
		font-size: fsz(27, 16);
		font-weight: 800;
		line-height: 1.2;
	}

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1024px) {
	.our-advantages__list {
		grid-template-columns: repeat(2, 1fr);

		strong,
		p {
			margin-bottom: 10px;
		}

		strong {
			font-size: fsz(25, 16);
		}
	}
}

@media (max-width: 768px) {
	.our-advantages__list {
		strong {
			font-size: fsz(23, 14);
		}
	}
}

@media (max-width: 576px) {
	.our-advantages__list {
		gap: 20px;

		li {
			padding: 18px 20px 17px 20px;
		}

		strong {
			font-size: fsz(20, 14);
		}
	}
}

@media (max-width: 415px) {
	.our-advantages__list {
		gap: 20px;

		li {
			padding: 18px 20px 17px 20px;
		}

		strong {
			font-size: fsz(16, 14);
		}
	}
}

@media (max-width: 360px) {
	.our-advantages__list {
		grid-template-columns: 1fr;
		gap: 15px;

		li {
			padding: 13px 15px 12px 15px;
		}
	}
}

/*
============================
	OUR WORKS
============================
*/
.our-works {
	padding-left: 20px;
	padding-right: 20px;

	h2,
	h3 {
		text-align: center;
	}

	h2 {
		padding-left: 0;
	}
}

.our-works__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;

	a {
		position: relative;
		display: flex;
		padding-top: 60.76%;
		text-decoration: none;
		overflow: hidden;

		&:hover {
			text-decoration: none;

			.video-wrapper {
				z-index: 2;
			}
		}
	}

	.video-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.list-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba($c2, 0) 0%, rgba($c2, 0.8) 100%);
		}
	}
}

.our-work-list__info {
	position: absolute;
	left: mp(40, 590);
	right: mp(40, 590);
	bottom: mp(38, 360);
	z-index: 1;

	span,
	strong {
		display: block;
		font-weight: 500;
		line-height: 1.1;
	}

	span {
		font-size: fsz(12, 16);
		color: $c1;

		&+strong {
			margin-top: 2px;
		}
	}

	strong {
		font-size: fsz(18, 16);
		color: $c3;
		text-decoration: none;
	}
}

.our-work-list__cursor {
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	z-index: 2;
	fill: $c3;
	@include trs-all;
}

@keyframes fillAnimation {
	from {
		fill: $c3;
	}

	to {
		fill: $c5;
	}
}

@media (max-width: 1024px) {
	.our-work-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.our-work-list__info {
		left: mp(40, 490);
		right: mp(40, 490);
		bottom: mp(40, 298);

		strong {
			font-size: 1rem;
		}
	}
}

@media (max-width: 576px) {
	.our-work-list__info {
		left: 20px;
		right: 20px;
		bottom: 20px;

		span {
			font-size: fsz(10, 14);
		}

		strong {
			display: none;
			font-size: fsz(12, 14);
		}
	}
}

@media (max-width: 415px) {
	.our-works__list {
		grid-template-columns: 1fr;

		a {
			padding-top: 55%;
		}
	}
}

@media (max-width: 360px) {
	.our-works {
		padding-left: 15px;
		padding-right: 15px;
	}

	.our-works__list {
		gap: 15px;
	}

	.our-work-list__info {
		bottom: 15px;
		left: 15px;
		right: 15px;
	}
}

/*
============================
	DISQUS
============================
*/
.disqus-wrapper {
	position: relative;

	&.success {
		.disqus-dublicate {
			opacity: 1;
			transform: scale(1);
			z-index: 2;
		}
	}
}

.disqus-dublicate {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: scale(0);
	@include trs-all;
	transition-delay: 100ms;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.disqus {
	.container {
		padding-top: 90px;
	}
}

.disqus__content,
.disqus-dublicate__content {
	color: $c1;

	em {
		display: block;
		margin-bottom: 20px;
		padding-left: 0;
		font-size: fsz(50, 16);
		font-weight: 800;
		font-style: normal;
		line-height: 1.2;
		color: $c1;
	}
}

.disqus-dublicate__content {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.disqus__content {
	position: relative;
	z-index: 1;
	display: flex;
	gap: 100px;
	align-items: flex-end;
	width: calc(min(740px, 100%));
	margin-left: auto;
	margin-right: auto;

	>div {
		width: 50%;

		&:first-child {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}

	strong {
		display: block;
		margin-bottom: 30px;
		font-size: fsz(30, 16);
		font-weight: 700;
		line-height: 1.1;

		span {
			position: relative;
			top: -20px;
			display: inline-block;
			font-size: 1rem;
			font-weight: 300;
			line-height: 1;
		}
	}
}

.disqus__list {
	margin-bottom: 0;

	li+li {
		margin-top: 17px;
	}
}

.disqus__form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	width: calc(min(356px, 100%));
}

@media (max-width: 1024px) {

	.disqus {
		.container {
			padding-top: 62px;
		}
	}

	.disqus__content,
	.disqus-dublicate__content {
		em {
			font-size: fsz(40, 16);
		}
	}

	.disqus__content {
		gap: 50px;

		strong {
			font-size: fsz(25, 16);

			span {
				top: -12px;
			}
		}
	}
}

@media (max-width: 768px) {

	.disqus {
		.container {
			padding-top: 67px;
		}
	}

	.disqus__content,
	.disqus-dublicate__content {
		em {
			font-size: fsz(30, 16);
		}
	}

	.disqus__content {
		flex-direction: column;
		align-items: center;
		gap: 28px;

		>div {
			width: 100%;

			&:first-child {
				align-items: center;
			}
		}

		strong {
			display: none;
			margin-bottom: 19px;
			font-size: fsz(20, 16);
			text-align: center;

			span {
				top: -12px;
			}
		}

		em {
			&+strong {
				display: block;
			}
		}
	}

	.disqus__list {
		align-self: center;

		li {
			display: inline-block;
			margin-bottom: 10px;

			&:not(:last-child) {
				margin-right: 21px;
			}
		}
	}

	.disqus__form {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 576px) {

	.disqus__content,
	.disqus-dublicate__content {
		em {
			font-size: fsz(23, 14);
		}
	}

	.disqus__content {
		strong {
			font-size: fsz(16, 14);
		}
	}
}

@media (max-width: 415px) {
	.disqus__form {
		width: 100%;
	}
}

@media (max-width: 360px) {
	.disqus__form {
		grid-template-columns: 1fr;
	}
}

/*
============================
	SERVICES
============================
*/
.services {
	.content-3__main {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 116px;
			height: 130px;
			background: url(../img/bg-3.svg) no-repeat;
		}

		h2,
		ul {
			position: relative;
			z-index: 1;
		}

		h2 {
			padding-left: 85px;
		}
	}
}

.services__main,
.services__aside {
	position: relative;

	&:before {
		content: '';
		position: absolute;
	}
}

.services__main {
	&:before {
		top: 0;
		left: 0;
		width: 116px;
		height: 130px;
		background: url(../img/bg-3.svg) no-repeat;
	}
}

.services__aside {
	&:before {
		top: 35px;
		right: 0;
		width: 106px;
		height: 119px;
		background: url(../img/bg-4.svg) no-repeat;
	}
}

.services__img {
	position: absolute;
	border-radius: 20px 0 20px 0;
	filter: drop-shadow(-10px -10px 20px rgba($c2, 0.05));
	overflow: hidden;
}

.services__img-1 {
	width: 395px;
	height: 395px;
	top: 0;
	right: 40px;
	z-index: 1;
}

.services__img-2 {
	left: 0;
	top: 12px;
	z-index: 2;
}

.services__img-3 {
	left: 42px;
	bottom: 12px;
}

.services__img-4 {
	top: 0;
	left: 235px;
	z-index: 2;
}

.services__img-5 {
	right: 0;
	top: 90px;
	z-index: 2;
}

.services__img-6 {
	bottom: 30px;
	right: 60px;
}

@media (min-width: 577px) {
	.services {
		.content-3__main {
			padding-top: 30px;
			padding-left: 55px;
		}
	}
}

@media (max-width: 1024px) {
	.services__aside {
		padding-top: 100%;
	}
}

@media (max-width: 576px) {
	.services {
		.content-3__main {
			h2 {
				padding-left: 60px;
			}
		}
	}

	.services__img-1 {
		width: 100%;
		height: 100%;
		right: 0;
	}
}

@media (max-width: 415px) {

	.services__img-2,
	.services__img-5 {
		width: 120px;
		height: 120px;
	}

	.services__img-3,
	.services__img-4 {
		width: 60px;
		height: 60px;
	}

	.services__img-3 {
		left: 20px;
	}

	.services__img-4 {
		left: auto;
		right: 40px;
	}

	.services__img-6 {
		width: 160px;
		height: 160px;
		right: 20px;
	}
}

@media (max-width: 360px) {
	.services {
		.content-3__main {
			h2 {
				padding-left: 55px;
			}
		}
	}

	.services__img-2,
	.services__img-5 {
		width: 100px;
		height: 100px;
	}

	.services__img-3,
	.services__img-4 {
		width: 50px;
		height: 50px;
	}

	.services__img-3 {
		left: 15px;
	}

	.services__img-4 {
		right: 30px;
	}

	.services__img-6 {
		width: 140px;
		height: 140px;
		right: 15px;
	}
}

/*
============================
	INFO
============================
*/
.info {

	ul,
	ol,
	p {
		font-size: fsz(15, 16);

		strong {
			font-weight: 700;
		}
	}

	ul,
	ol {
		line-height: 1.35;
	}

	ol {
		counter-reset: num;

		li {
			position: relative;
			padding-left: 20px;

			&:before {
				content: counter(num)'.';
				counter-increment: num;
				position: absolute;
				top: 3px;
				left: 0;
				font-size: fsz(12, 15);
				font-weight: 500;
				line-height: 1;
			}
		}
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.info__img {
	filter: drop-shadow(10px 10px 30px rgba($c2, 0.5));

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.info__img {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 30px;
}

@media (min-width: 1025px) {
	.info {

		.breadcrumbs,
		h1 {
			padding-left: 0;
		}
	}
}

@media (max-width: 1024px) {
	.info__img {
		align-items: center;
	}
}

@media (max-width: 576px) {
	.info {
		h1~p {
			font-size: fsz(15, 14);
		}
	}
}

/*
============================
	CONTACTS
============================
*/
.contacts__content {
	display: flex;
}

.contacts__aside {
	padding: 60px 20px 55px 60px;
	background-color: $c7;
}

.contacts__list {
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.34;
	color: $c1;

	li+li {
		margin-top: 26px;
	}

	strong {
		display: block;
		margin-bottom: 4px;
		font-weight: 700;
		line-height: 1;
	}
}

@media (min-width: 577px) {
	.contacts__list {
		font-size: fsz(15, 16);
	}
}

@media (min-width: 1025px) {
	.contacts__aside {
		flex: none;
		order: 1;
		width: 370px;
	}

	.contacts__main {
		flex-grow: 1;
	}

	.contacts__map {
		height: 100%;
	}
}

@media (max-width: 1024px) {
	.contacts__content {
		flex-direction: column;
		gap: 40px;
	}

	.contacts__map {
		padding-top: 65%;
	}
}

@media (max-width: 576px) {
	.contacts__aside {
		padding: 40px 20px 35px 20px;
	}
}

@media (max-width: 415px) {
	.contacts__map {
		padding-top: 75%;
	}
}

@media (max-width: 360px) {
	.contacts__aside {
		padding-left: 15px;
		padding-right: 15px;
	}

	.contacts__map {
		padding-top: 100%;
	}
}

/*
============================
	TEAM
============================
*/
.team {
	h2 {
		text-align: center;
	}
}

.team__slider-wrapper {
	position: relative;
	padding-left: 70px;
	padding-right: 70px;

	.swiper-slide {
		width: 204px;
	}

	.slider-btn {
		position: absolute;
		top: 50%;
		z-index: 2;
		transform: translateY(-50%);
		color: $c2;
		cursor: pointer;

		svg {
			width: 30px;
			height: 30px;
			fill: currentColor;
			@include trs-all;
		}

		&:hover {
			color: $c3;
		}
	}

	.slider-btn--prev {
		left: 8px;
	}

	.slider-btn--next {
		right: 8px;
	}

	.list-style-1 .list-img {
		padding-top: 147.3%;
	}
}

@media (max-width: 1024px) {
	.team__slider-wrapper {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (max-width: 576px) {
	.team__slider-wrapper {
		padding-left: 0;
		padding-right: 0;

		.slider-btn--prev {
			left: 13px;
		}

		.slider-btn--next {
			right: 13px;
		}
	}
}

@media (max-width: 360px) {
	.team__slider-wrapper {
		.slider-btn--prev {
			left: 8px;
		}

		.slider-btn--next {
			right: 8px;
		}
	}
}

/*
============================
	TECHNOLOGIES
============================
*/
.technologies {
	h2 {
		text-align: center;
	}
}

.technologies__variants {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 50px mp(50, 1200);

	div {
		position: relative;
		padding: 33px 22px 37px 22px;
		background: rgba($c3, 0.2);

		svg {
			position: absolute;
			bottom: 22px;
			right: 22px;
			width: 40px;
			height: 40px;
			fill: rgba($cb, 0.2);

			&.technologies__cms-icon {
				opacity: 0.2;
			}
		}
	}

	strong {
		display: block;
		margin-bottom: 25px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.03em;
	}

	ul {
		position: relative;
		z-index: 1;
		margin-bottom: 0;
	}

	li {
		font-size: fsz(14, 16);
		line-height: 1.2;
		letter-spacing: 0.03em;

		&+li {
			margin-top: 11px;
		}
	}
}

@media (max-width: 1024px) {
	.technologies__variants {
		grid-template-columns: repeat(4, 1fr);
		gap: 50px mp(40, 944);
	}
}

@media (max-width: 768px) {
	.technologies__variants {
		grid-template-columns: repeat(3, 1fr);
		gap: 50px mp(40, 708);
	}
}

@media (max-width: 576px) {
	.technologies__variants {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		div {
			padding-left: 20px;
			padding-right: 20px;

			svg {
				width: 30px;
				height: 30px;
				bottom: 20px;
				right: 20px;
			}
		}

		li {
			font-size: 1rem;
		}
	}
}

@media (max-width: 360px) {
	.technologies__variants {
		gap: 15px;

		div {
			padding-left: 15px;
			padding-right: 15px;

			svg {
				bottom: 15px;
				right: 15px;
			}
		}
	}
}

@media (max-width: 320px) {
	.technologies__variants {
		font-size: fsz(12, 14);

		li {
			font-size: fsz(12, 14);
		}
	}
}

.cookies {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 99;
	background-color: $c1;
	box-shadow: 1px 1px 4px rgba($cb, 0.4)
}

.cookies__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
	font-size: fsz(12, 16);
	font-weight: 400;

	div {
		margin-bottom: 10px;

		&:first-child {
			flex-grow: 1;
			padding-right: 10px
		}


	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 1025px) {
	.cookies__content {
		div {
			&:last-child {
				width: 120px;
				flex: none;
			}
		}
	}
}

@media (max-width: 1024px) {
	.cookies__content {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (max-width: 576px) {
	.cookies__content {
		font-size: fsz(12, 14);
	}
}

@media (max-width: 415px) {
	.cookies__content {
		font-size: fsz(10, 14);
	}
}
