/*
============================
	TOP SECTION
============================
*/
.top-section {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;

	.list-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(127.1deg, $c8 0.67%, rgba($c11, 0.67) 100%);
		}
	}

	.container {
		position: relative;
		z-index: 1;
		display: flex;
	}

	h1 {
		margin-left: 35px;
		color: $c1;
	}

	.services-list-2 {
		li {
			background-color: rgba($c3, 0.2);
		}
	}
}

.top-section__content-1 {
	flex-grow: 1;
}

.top-section__content-2 {
	width: 605px;
	flex: none;
}

.top-section__info {
	display: flex;
	gap: 0 70px;

	>div {
		flex-grow: 1;

		&:first-child {
			width: 300px;
			flex: none;
		}
	}
}

.services-list {
	margin-bottom: 0;
	color: $c1;
}

.services-list-1 {
	li {
		position: relative;
		padding-left: 35px;
		font-size: fsz(18, 16);
		line-height: 1.2;

		&+li {
			margin-top: 20px;
		}
	}

	svg {
		position: absolute;
		top: -2px;
		left: 0;
		width: 22px;
		height: 22px;
		fill: $c3;
	}
}

.services-list-2 {
	li {
		padding: 32px 35px 29px 105px;
		background-color: rgba($c3, 0.2);

		&+li {
			margin-top: 15px;
		}
	}

	span,
	strong {
		display: block;
		line-height: 1.2;
	}

	span {
		margin-bottom: 5px;
		font-size: fsz(13, 16);
		color: $c12;
	}

	strong {
		font-size: fsz(20, 16);
		font-weight: 800;
	}

	svg {
		position: absolute;
		top: 30px;
		left: 35px;
		width: 40px;
		height: 40px;
		fill: $c1;

		path {
			fill: $c1;
			stroke: $c1;
		}
	}
}

.decor-list {
	position: relative;
	padding-left: 45px;

	li {
		position: relative;
		z-index: 1;
	}

	&:before {
		content: '';
		position: absolute;
		top: 45px;
		left: 0;
		width: 116px;
		height: 84px;
		background: url(../img/bg-2.svg) no-repeat;
		background-size: cover;
	}
}

.request {
	padding: 26px 30px 30px 30px;
	border: 1px solid $c3;
	background-color: $c1;
}

/*
============================
	OUR ADVANTAGES
============================
*/
.our-advantages__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	margin-bottom: 0;

	li {
		padding: 30px 35px 32px 35px;
		background-color: $c3;
	}

	strong,
	p {
		line-height: 1.2;
		color: $c1;
	}

	strong {
		display: block;
		margin-bottom: 20px;
		font-size: fsz(28, 16);
		font-weight: 800;
		line-height: 1.2;
	}

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/*
============================
	OUR WORKS
============================
*/
.our-works__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;

	a {
		position: relative;
		display: flex;
		padding-top: 60.76%;
		text-decoration: none;
		overflow: hidden;

		&:hover {
			text-decoration: none;

			.our-work-list__cursor {
				top: 50%;
				transform: translate(-50%, -50%);
				animation: fillAnimation 1s ease-in-out infinite forwards alternate;
			}
		}
	}

	.list-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba($c2, 0) 0%, rgba($c2, 0.8) 100%);
		}
	}
}

.our-work-list__info {
	position: absolute;
	left: mp(40, 590);
	right: mp(40, 590);
	bottom: mp(38, 360);
	z-index: 1;

	div {
		display: inline-block;
		vertical-align: middle;

		&:not(:last-child) {
			margin-right: 26px;
		}
	}

	img {
		max-width: 100px;
	}

	span,
	strong {
		display: block;
		font-weight: 500;
		line-height: 1.1;
	}

	span {
		position: relative;
		padding-left: 15px;
		font-size: fsz(12, 16);
		color: $c1;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 8px;
			height: 12px;
			fill: currentColor;
		}

		&+strong {
			margin-top: 2px;
		}
	}

	strong {
		font-size: fsz(18, 16);
		color: $c3;
		text-decoration: none;
	}
}

.our-work-list__cursor {
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	z-index: 2;
	fill: $c3;
	@include trs-all;
}

@keyframes fillAnimation {
	from {
		fill: $c3;
	}

	to {
		fill: $c5;
	}
}

@media (min-width: 1025px) {
	.our-works {
		h2 {
			margin-left: 35px;
		}
	}
}
