%form {

	input:not([type='checkbox']):not([type='radio']):not([type='hidden']),
	button {
		width: 100%;
	}

	textarea,
	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']) {
		width: 100%;
		padding-left: 18px;
		padding-right: 18px;
		border-bottom: 1px solid rgba(48, 48, 48, 0.2);
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:focus {
			border-bottom-color: $cb;
			outline: none;
		}

		&.required {
			border-bottom-color: $c3;
		}
	}

	.required-tooltip {
		display: none;
	}

	textarea.required+.required-tooltip,
	select.required+.required-tooltip,
	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']).required+.required-tooltip {
		display: block;
		margin-top: 10px;
		font-size: fsz(12, 16);
		font-weight: 600;
		line-height: 1;
		color: $c8;
	}

	textarea {
		height: 150px;
		min-height: 150px;
		padding-top: 16px;
		padding-bottom: 16px;
		resize: vertical;
		line-height: 1.25;
		background-color: $c4;
	}

	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']),
	select {
		width: 100%;
		height: 50px;
	}

	.input-wrapper {
		height: 47px;
		border: 1px solid $c7;
	}

	input[type='file'] {
		height: 100%;
	}

	&.form-style-1 {
		>div {
			&:nth-child(7) {
				padding-top: 68px;
			}

			&:nth-child(8) {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
	}

	&.form-style-2 {

		label,
		textarea,
		select,
		input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']):not([type='submit']) {
			font-size: fsz(13, 16);
		}

		textarea,
		select,
		input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']):not([type='submit']) {
			background-color: $c1;
		}

		[type='submit'] {
			text-transform: uppercase;
		}

		textarea {
			height: 100%;
		}
	}

	&.form-style-3 {
		label {
			text-transform: uppercase;
			text-align: left;
		}

		textarea {
			min-height: 100%;
		}
	}
}
