%form {
	font-size: fsz(15, 16);
	color: $c3;

	>div {
		padding-left: 15px;
		padding-right: 15px;

		&:not(:last-of-type) {
			margin-bottom: 10px;
		}

		&+.btn {
			margin-top: 26px;
		}
	}

	ul {
		margin-bottom: 20px;
	}

	li+li {
		margin-top: 7px;
	}

	.btn,
	input:not([type='checkbox']):not([type='radio']):not([type='hidden']),
	button {
		width: 100%;
	}

	.btn {
		font-size: fsz(15, 16);
	}

	textarea,
	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']) {
		width: 100%;
		@include trs-all;

		&:focus {
			outline: none;
		}

		&.required {
			border-bottom-color: $c15;
		}
	}

	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']),
	select {
		height: 34px;
	}

	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']) {
		padding: 0;
		border-bottom: 1px solid $c3;

		&:focus {
			border-bottom-color: $c5;
			outline: none;
		}
	}

	select {
		padding-left: 15px;
		padding-right: 15px;
		border: 1px solid $c3;
	}

	.required-tooltip {
		display: none;
	}

	textarea.required+.required-tooltip,
	select.required+.required-tooltip,
	input:not([type='checkbox']):not([type='radio']):not([type='hidden']):not([type='file']).required+.required-tooltip {
		display: block;
		font-weight: 300;
		line-height: 1;
		color: $c8;
	}

	textarea {
		height: 150px;
		min-height: 150px;
		padding: 10px 15px;
		resize: vertical;
		line-height: 1.2;
		border: 1px solid $c3;

		&:focus {
			border-color: $c5;
		}
	}

	&.form-style-1 {
		>div {
			padding-left: 0;
			padding-right: 0;

			&+div {
				margin-top: 0;
			}
		}

		input:not([type=checkbox]):not([type=radio]):not([type=hidden]):not([type=file]),
		select {
			height: 40px;
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 5px;
			border: 1px solid rgba($c1, 0.5);
			color: $c1;

			&:focus {
				border-color: rgba($c1, 1);
			}
		}

		input:not([type='checkbox']):not([type='radio']),
		textarea {
			@include placeholder {
				color: rgba($c1, 0.5);
			}
		}
	}

	@media (max-width: 576px) {
		font-size: 1rem;

		.btn {
			font-size: 1rem;
		}
	}

	@media (max-width: 360px) {
		>div {
			&+.btn {
				margin-top: 15px;
			}
		}

		ul {
			margin-bottom: 15px;
		}
	}
}
