footer {
	background-color: $c7;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 35px;
		padding-bottom: 35px;
		color: $c1;
	}
}

.footer__nav,
.footer__policy {
	a {
		color: $c1;

		&:hover {
			text-decoration: none;
			color: $c3;
		}
	}
}

.footer__nav {
	li {
		margin-bottom: 10px;
	}
}

.footer__policy {
	margin-bottom: 0;

	li,
	a {
		display: inline-block;
	}

	li {
		&:not(:last-child) {
			margin-right: 7px;
		}
	}

	a {
		font-size: fsz(10, 16);
		font-weight: 500;
		line-height: 1;
	}
}

.footer__contacts {
	color: $c1;

	li {
		display: inline-block;
		vertical-align: middle;
		font-size: fsz(13, 16);

		&:not(:last-child) {
			margin-right: 16px;
		}
	}

	a[href^=tel] {
		color: $c1;

		&:hover {
			color: $c3;
		}
	}
}

@media (min-width: 1201px) {
	.footer__contacts {
		li {
			&:not(:last-child) {
				margin-right: 126px;
			}
		}
	}
}

@media (min-width: 1231px) {
	footer {
		.container {
			padding-left: 40px;
			padding-right: 70px;
		}
	}
}

@media (max-width: 768px) {
	footer {
		.container {
			padding-top: 39px;
			padding-bottom: 38px;
			flex-direction: column;
			justify-content: center;
		}
	}

	.mobile-user-agent {

		.footer__nav,
		.footer__contacts,
		.footer__policy {
			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.footer__nav,
	.footer__contacts,
	.footer__policy {
		text-align: center;
	}

	.footer__policy {
		margin-top: 8px;
		margin-bottom: 19px;

		a {
			font-size: 1rem;
		}
	}

	.footer__contacts {
		li {
			display: block;
			font-size: 1rem;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}
