input,
button,
textarea,
select {
	border: none;
	outline: none;
	box-shadow: none;
	background: transparent;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: none;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.size-auto {
	width: auto;
	height: auto;
}

textarea {
	resize: vertical;
}

input:not([type='checkbox']):not([type='radio']),
textarea {
	@include placeholder {
		color: $c3;
		text-overflow: ellipsis;
		opacity: 1;
	}
}

.style-check {
	position: relative;
	display: inline-block;
	line-height: 1.2;
	cursor: pointer;

	input[type='radio'],
	input[type='checkbox'] {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		clip: rect(0 0 0 0);

		&+span,
		&+span {
			position: absolute;
			left: 0;
			@include trs;
		}

		&:checked+span,
		&:checked+span {
			-webkit-pointer-events: none;
			-moz-pointer-events: none;
			pointer-events: none;
		}
	}
}

.style-check-1 {
	padding-left: 15px;

	input[type='radio'],
	input[type='checkbox'] {
		width: 7px;
		height: 7px;

		&+span,
		&+span {
			top: 5px;
			width: 7px;
			height: 7px;
			border: 1px solid $c3;
			background-color: $c1;
		}

		&:checked+span,
		&:checked+span {
			background-color: $c3;
		}
	}
}

.style-check-2 {
	padding-left: 30px;
	font-size: fsz(18, 16);
	font-weight: 500;
	line-height: 1.1;

	input[type='radio'],
	input[type='checkbox'] {
		width: 18px;
		height: 18px;

		&+span {
			top: 1px;
			width: 18px;
			height: 18px;
			border: 2px solid $c1;
			border-radius: 4px;
			color: $c1;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 8px;
				height: 6px;
				background-image: url("data:image/svg+xml,%0A%3Csvg width='8' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 3 2.25 2L7 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
				opacity: 0;
				@include trs-all;
			}
		}

		&:checked+span,
		&:checked+span {
			&:after {
				opacity: 1;
			}
		}
	}
}

@media (max-width: 576px) {
	.style-check-2 {
		font-size: fsz(16, 14);

		input[type='radio'],
		input[type='checkbox'] {
			&+span {
				top: 0;
			}
		}
	}
}

.style-select {
	position: relative;

	&:after {
		content: ' ';
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-color: $cb transparent transparent transparent;
		pointer-events: none;
	}
}

label {
	display: block;
	text-align: right;
}

.form {
	@extend %form;
}
