header {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;
		overflow-y: hidden;
		opacity: 0;
	}
}

.header__contacts {
	font-size: fsz(10, 16);

	li+li {
		margin-top: 3px;
	}
}

.init {
	header {
		.container {
			height: auto;
			align-items: center;
			height: auto;
			overflow-y: visible;
			opacity: 1;
		}
	}
}

@media (min-width: 1201px) {
	header {
		.container {
			height: 140px;
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}

@media (min-width: 1231px) {
	header {
		.container {
			padding-left: 70px;
			padding-right: 70px;
		}
	}
}

@media (max-width: 1200px) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 998;
		width: 100%;
		background-color: $c1;
	}
}
