//== COLORS
$cb: #111111 !default;
$c1: #ffffff;
$c2: #000000;
$c3: #009ECB;
$c4: #0561A1;
$c5: #02568F;
$c6: #4589B6;
$c7: #08629E;
$c8: #024D75;
$c9: #0180DF;
$c10: #443E3E;
$c11: #0180E9;
$c12: #EEEEEE;
$c13: #020202;

//== TYPOGRAPHY
$fb: 'AvenirNextCyr', 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 16px !default;
